@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: .01em;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body a{
    color: black;
}

button{
    background: none;
    display: inline;
    border-radius: 50px;
    border: 1px solid;
    font-weight: 600;
    padding: 1% 13px;
}

header {
    padding-left: 18%;
    padding-right: 18%;   
    align-items: center; 
    box-shadow: 0 3px 3px rgba(0,0,0,.1);
}

nav{
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    height: 9vh;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 52px;
    height: 52px;
}

.nav-izquierda{
    display: flex;
    justify-content: space-between;
}

.nav-izquierda {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 23%;
}

.nav-izquierda a{
    justify-self: flex-start;
}

.nav-izquierda li{
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: .1em;
    justify-content: space-between;
}

.nav-izquierda li:hover{
    border-bottom: #3b806d solid;
}.nav-izquierda a:hover{
    color: #3b806d;
}

.nav-derecha{
    display: flex;
    flex-direction: row;
    width: 33%;
    justify-content: space-between;
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
}

.nav-derecha li{
    font-weight: 600;
    font-size: 1.11em;
    display: flex;
    letter-spacing: 0;
    align-items: center;
}

.nav-derecha img{
    height: 22px;
    width: auto;
}

#btnUnir button{
    background-color: black;
}

#btnUnir button:hover{
    background-color: rgba(0, 0, 0, 0.753);
}

#btnUnir a{
    color: white;
    font-size: 1.4em;
}

#btnIngresar a{
    font-size: 1.4em;
}

.principal-container{
    padding-left: 18%;
    padding-right: 18%; 
}

#titulo-container{
    margin: 5vh 0;
    width: 70vh;
}

#titulo-container h1{
    font-size: 2em;
}

#titulo-container h1, h3{
    margin: 0;
    padding: 0;
}

#categoria{
    padding: 2vh 0;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
}

.articulos-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.articulo{
    margin: 3vh 5vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.articulo img{
    height: 180px;
    width: 180px;
    background-color: #1e3932;
    border-radius: 100px;
    padding: 1%;
}

.alimentos-container img {
    margin-left: 4vh;
}

.articulo img:hover{
    border: 3px #777;
}

.articulo p{
    margin-top: 1vh;
    font-size: 1.2em;
    text-align: center;
    font-weight: 600;
}

footer{
    padding-left: 17.5%;
    padding-right: 17.5%;
    box-shadow: 0 -3px 3px rgba(0,0,0,.1);
}

.footersuperior{
    margin-top: 4.5vh;
    padding-top: 3vh;
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-between;
}

.footersuperior a{
    color: #777;
    font-weight: 500;
}

.footersuperior a:hover{
    color: black;
}

.footersuperior h3{
    color: black;
    font-weight: 500;
    letter-spacing: 0.01em;
}

.footersuperior li, .footersuperior h3{
    padding-bottom: 14%;
}

.footerinferior{
    border-top: 1px solid rgb(233, 232, 232);
}

.iconos img{
    height: 34px;
    width: auto;
}

.iconos{
    margin-top: 2vh;
    width: 20%;
    justify-self: center;
    margin-bottom: 4vh;
    height: auto;
}

.iconos ul{
   display: flex;
   justify-content: space-between;
   align-self: end;
}

.iconos li:hover{
    display: flex;
    background-color: white;
    align-items: baseline;
}

.iconos li{
    padding:1%;
    height: 4.3vh;
    display: flex;
    align-items: end;
}

.menufooter{
    height: auto;
    width: 100%;
}

.menufooter a{
    font-weight: 300;
}
.menufooter ul{
    display: flex;
    flex-direction: row;
    text-align: center;
    color: #999;
    height: 50px;
    font-size: 1rem; 
    justify-content: center;
}

.menufooter a{
    color: #999;
}

.menufooter a:hover{
    color: black;
}

.menufooter li{
    padding-right: 1%;
}

#derechosreservados{
    font-size: 1rem;
    color: #999;
    text-align: center;
    font-weight: 300;  
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    margin: 0px;
}

#permiso{
    font-size: .625rem;
    color: #999;
    text-align: center;
    font-weight: 300;  
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    margin-bottom: 2vh;
}

