@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

button{
    background: none;
    display: inline;
    border-radius: 50px;
    border: 1px solid;
    font-weight: 600;
    padding: 1% 13px;
}

html{
    width: 100%;
}

a{
    list-style: none;
    text-decoration: none;
    color: black;
    margin: 0px;
    padding: 0px;
    font-weight: 700;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: 700;
    font-size: 13px;
    background-color: white;
}

button a{
    font-size: 14px;
}

nav{
    width: 1250px;
    align-items: center;
    justify-self: center;
    z-index: 2;
}

.container-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    width: auto;
    z-index: 2;

}

.nav-izquierda img{
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

.nav-izquierda{
    display: flex;
    flex-direction: row;
    width: auto;
}

.nav-izquierda li{
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-izquierda li:hover{
    box-shadow: inset 0 -4px #006341;
}

.nav-izquierda a:hover{
    color: #2e7a0a;
}

#nav-rewards{
    box-shadow: inset 0 -6px #006341;
}

.container-nav a{
    align-content: center;
}

.nav-derecha{
    display: flex;
    flex-direction: row;
    width: auto;
}

.nav-derecha img{
    margin-right: 8px;
}

.nav-derecha ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
}

#btnUnir button{
    background-color: black;
}

#btnUnir a{
    color: white;
}

.nav-derecha li{
    padding-right: 10px;
    display: flex;
    flex-direction: row;
}

.nav-derecha img{
    height: 22px;
    width: auto;
    align-self: center;
}

.container-main{
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.container-fixed{
    padding-top: 16%;
    width: 42vw;
    position: fixed;
    height: 100vh;
    justify-items: center;
    color: white;
    background: linear-gradient(0deg, rgb(29, 57, 50) 0%, rgb(10, 105, 75) 100%);background-size: contain;
}   

.container-fixed img{
    width: auto;
    height: 105px;
}

#fixedtexto{
    font-size: 35px;
    width: 400px;
    text-align: center;
}

#mano{
    position: absolute;
    width: 35%;
    height: auto;
    bottom: 0;
    right: 0;
}

.container-fixed button{
    margin: 30px 30px;
}

#fixedbuttonInicia{
    border: 1px solid white;
}

#fixedbuttonInicia a{
    color: white;
}

#fixedbuttonUnir{
    border: 1px solid white;
    background-color: white;
}

#fixedbuttonUnir a{
    color: black;
}

.container-scroll{
    width: 58vw;
    margin-left: 42%;
}

#titulo{
    font-size: 23px;
    margin-bottom: 20px;
}

#subtitulo{
    font-size: 22px;
}

.inferiorcontainer-rewards{
    margin-top: 80px;
}

.imagenes-section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 10px;
}

.imagenes-section img{
    height: auto;
    width: 100%;
    padding: 10px;
}

.container-subsection{
    font-size: 17px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 25%;
}

.container-rewards{
    padding: 5%;
    display: flex;
    flex-direction: row;
}

.container-redimir{
    background: rgb(241, 240, 235);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-redimir #titulo{
    padding: 0 25%;
}

.container-redimir img{
    width: 600px;
    height: auto;
    margin: 3% 0;
}

.container-redimir p{
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}

.container-estrellas{
    padding: 0 10%;
    margin-bottom: 60px;
}

.container-estrellas #titulo{
    font-weight:600;
    margin-top:3%;
}

.flex-estrellas{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-estrellas div{
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color: #025034;
    border-radius: 30px;
    padding-left: 9px;
    width:30px;
    height:30px;
    position: relative;
    top: 30px;
    left: -15px;
    align-items: center;
    z-index: -1;
}

.container-izquierda-estrellas{
    display: flex;
    flex-direction: row;
}

.container-izquierda-estrellas img{
    padding: 0;
    margin: 0;
    width: 120px;    
    display: flex;
}

.container-estrellas #titulo{
    padding-bottom: 0;
    margin-bottom: 0;
}

.container-estrellas #subtitulo{
    font-size: 19px;
    font-weight: 500;
}

.container-izquierda-estrellas p{
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-align: left;
}

#imagen2 img{
    padding: 0;
    margin: 0;
    width: 260px;
    display: flex;
}

.container-izquierda-estrellas section{
    width: auto;
}

#container-chica img{
    width: 100%;
    height: auto;
}

.container-video{
    width: 100%;
}

.container-pago{
    padding: 5% 10%;
    margin-top: 30px;
    background: rgb(241, 240, 235);
}

.container-pago h3{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;
}

.container-pago h4{
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 30px;
}

.container-pago h5{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.container-pagoinferior p{
    font-size: 15px;
    font-weight: 450;
}

#cartas{
    width: auto;
    height: 150px
}

.flex-pago{
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    margin-bottom: 20px;
}


.flex-pago p{
    width: 100%;
    text-align: left;
    font-size: 17px;
    font-weight: 600;
    align-content: center;
}

#imagen-celular{
    height: 130px;
    width: auto;
    margin-right: 17px;
}

#flex-section{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#flex-section #estrella{
    width: 50px;
    height: 38.8px;
}

.container-pagoinferior{
    display: flex;
    flex-direction: row;
    padding: 0px 8%;
}

.container-pagoinferior h5, p{
    text-align: left;
}

.container-pagoinferior img{
    width: auto;
    height: 120px;
}

.container-aplicacion{
    padding: 4% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container-aplicacion p{
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.container-aplicacion h3{
    font-size: 22px;
}

.container-aplicacion h6{
    font-size: 17px;
}

.container-aplicacion img{
    width: auto;
    height: 218px;
    margin: 4% 2.5%;
}

.container-appstores{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-appstores img{
    height: 40px;
    width: auto;
}

.container-conocemas{
    padding: 5% 18%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgb(241, 240, 235);
}

.container-conocemas a{
    color: #3a6354;
    text-decoration: underline;
}

.container-conocemas img{
    height: auto;
    width: 350px;
}

.container-conocemas h5{
    font-size: 18px;
    font-weight: 500;
}

.container-conocemas p{
    font-size: 16px;
    font-weight: 400;
}

.container-conocemas h5, p{
    text-align: left;
    padding: 2%;
}

.container-imagen{
    height: 300px;
}

.starbucks-imagen img{
    height: auto;
    width: 100%;
}

#header1{
    display: block;
}

footer{
    border-top: 1px solid rgb(233, 229, 229);
}

.footersuperior{
    display: flex;
    flex-direction: row;
    padding: 0px 20px;
    margin-bottom: 120px;
}

.footersuperior a{
    color: #777;
}

.footersuperior ul{
    padding-right: 60px;
}

.footersuperior h2{
    padding: 30px 0px;
    color: black;
    font-weight: 400;
}

.footersuperior li{
    padding-bottom: 10%;
    text-align: left;
}

.footersuperior a{
    font-size: 15px;
    font-weight: 500;
}

.footerinferior{
    border-top: 1px solid rgb(233, 232, 232);
}

.iconos img{
    margin: 20px 3px 0px 3px;
    height: 35px;
    width: auto;
}

.iconos ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.iconos li{
    padding:1%;
}

.menufooter{
    height: auto;
    width: 100%;
    margin-bottom: 50px;
}
.menufooter ul{
    display: flex;
    flex-direction: row;
    text-align: center;
    color: #999;
    font-size: 16px;
    font-weight: 100;
    justify-content: center;
}

.menufooter a{
    color: #999;
    font-weight: 250;  
}


#derechosreservados{
    font-size: 10px;
    color: #999;
    text-align: center;
    font-weight: 300;  
    margin-top: 20px;
}

/* responsive design */

@media (max-width: 1250px){
    .container-nav{
        width: 100%;
    }
}

@media (max-width: 1000px){

    

    .container-main{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .container-fixed{
        position: static;
        width: 100vw;
    }
    .container-scroll{
        padding: 0;
        margin: 0;
        width: 100vw;
    }

    .container-rewards{
        padding: 0;
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width: 1000px) {
    .contiainer-sidebutton {
      display: none;
    }

    #responsive-menufooter{
        display: none;
    }

    .container-scroll{
        background-color: blue;
    }

    .responsive-accordion{
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    nav {
      display: none;
    }

    .footersuperior{
        display: none;
    }

    #nonresponsive-menufooter{
        display: none;
    }

    .container-main{
    }

    .container-mano{
        height: 300px;
    }

    .container-main{
        margin-top: 8%;
    }

    .contiainer-sidebutton{
        position: fixed;
        width: 100vw;
        top: 0;
        padding: 1% 2%;
        z-index: 3;
        background-color: white;
    }

    .container-fixed{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50vh;
        width: auto;
        padding-top: 2vh;
        top: 13px;
        z-index: -3;
    }

    .fixed-buttons{
        display: flex;
        flex-direction: column;
        width: 40vw;
        justify-content: center;
        align-items: center;
    }

    .fixed-buttons button{
        padding: .5vh 0;
        margin: .5vh;
        width: 100%;
    }

    .fixed-buttons a{
        padding: 0;
        margin: 0;
        height: 5px;
    }

    .contiainer-sidebutton img{
        height: 50px;
        width: auto;
        padding-left: 1%;
    }

    .nav-izquierda li{
        height: 4vh;
        margin: 0;
        padding-left: 4vw;
        font-size: 15px;
        font-weight: 500;
    }

    .nav-izquierda, .nav-derecha{
        margin-top: 6vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .nav-derecha{
        margin-bottom: 3vh;
        justify-content: space-between;
        height: 10vh;
    }

    .nav-derecha li{
        margin-bottom: 2vh;
        margin-left: 3vw;
        justify-content: space-between;
    }

    .imagenes-section{
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        width: 98vw;
    }

    .imagenes-section p{
        text-align: center;
    }

    .container-subsection{
        width: 50%;
    }
    
    .container-video{
        width: 100%;
        height: auto;
    }

    .flex-estrellas{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .flex-pago{
        display: flex;
        flex-direction: column;
    }

    #flex-section{
        margin-top: 1vh;
    }

    #flex-section img{
        height: 100px;
    }
    
    .container-pagoinferior{
        flex-direction: column;
    }

    .container-aplicacion h3, .container-aplicacion h6{
        text-align: center;
    }

    .container-appstores{
        flex-direction: column;
    }

    .container-aplicacion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-conocemas{
        flex-direction: column;
    }

    .starbucks-imagen img {
        height: auto;
        width: 100vw;
    }



    .iconos{
        justify-self: flex-start;
    }

    #responsive-menufooter ul{
        display: flex;
        flex-direction: column;
        height: auto;
        align-content: flex-start;
        text-align: left;
    }

    #responsive-menufooter li{
        padding: 4.5% 0% 2% 4.5%;
    }

    #responsive-menufooter a{
        color: black;
        font-weight: 400;
        font-size: 1em;
    }

    .button-container{
        display: flex;
        flex-direction: row;
    }

    .button-container{
        margin: 0;
        padding: 0;
    }

    .container-redimir img{
        width: 100%;
    }

  }


@media screen and (max-width: 600px) {

    .container-subsection{
        width: 100%;
    }
}


@media screen and (max-width: 500px) {

    .imagenes-section img{
        height: auto;
        width: 90%;
    }

    .container-redimir img{
        width: 100%;
    }
}

